{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row my-4 border">
        <div class="col-md-4 mt-3">
            <h1>My Portfolio</h1>
        </div>
        <div class="col-md-4 mt-4">
            <p>Balance: {{ balance }}</p>
        </div>
        <div class="col-md-4 mt-2">
            <p><strong>Total: {{ total }}</strong>
            <br>
                Portfolio Growth:
                <strong {% if totalGrowth>0 %} style="color:green" {% endif %}{% if totalGrowth<0 %} style="color:red" {% endif %}>{{ totalChange }}</strong>
            </p>
        </div>
    </div>
    <div class=row>
        {% if stocks==[] %}
        <div class="col-md-4 text-left bg-light">
            <p>You don't have anything in your portfolio yet!</p>
            <p>You can check prices of stocks <a href="/quote">here</a>.</p>
            <p>You can buy your first shares <a href="/buy">here</a>.</p>
        </div>
        {% endif %}
        {% for stock in stocks %}
        <div class="col-md-4 text-left {% if loop.index%2==1 %}bg-light{% endif %}">
            <p class="text-center"><a href="https://www.google.com/search?q={{ stock['symbol'] }}+stock" target="_blank">{{ stock['symbol'] }}</a></p>
            <p>Shares: {{ stock['shares'] }}</p>
            <p>Current Price: {{ stock['price'] }}</p>
            <p>Total Value: {{ stock['total'] }}</p>
            <p class="text-center" {% if stock['growth']>0 %} style="color:green" {% endif %}{% if stock['growth']<0 %} style="color:red" {% endif %}>
                {{ stock['pChange'] }}
            </p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
